<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5">
    <section class="">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: #14477D;">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank"
                        href="https://www.facebook.com/ironmountain" style="border-radius: 30px;" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank"
                        href="https://twitter.com/ironmountain_mx" style="border-radius: 30px;" role="button"><i
                            class="fab fa-twitter"></i></a>


                    <!-- Linkedin -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank"
                        href="https://www.linkedin.com/company/iron-mountain/" style="border-radius: 30px;"
                        role="button"><i class="fab fa-linkedin-in"></i></a>

                    <!-- Github -->
                    <a class="btn btn-outline-light btn-floating m-1" target="_blank"
                        href="https://www.youtube.com/user/ironmountain" style="border-radius: 30px;" role="button"><i
                            class="fab fa-youtube"></i></a>
                </section>
                <!-- Section: CTA -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: #14477D;">
                © 2023 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">https://www.ironmountain.com/mx</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>
</div>